<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{title}} is working!!!!</h1>
    

    {{ instance.title }}<br/>
    {{ instance.content }}<br/>
    {{ instance.user }}




</body>
</html>